<form [formGroup]="postForm" (ngSubmit)="postForm.valid && onLogin()" novalidate>
  <div class="example-container">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input id="title"
            matInput 
            formControlName="title"
            placeholder="Enter your title"/>
    </mat-form-field>
    
    <mat-form-field appearance="outline">  
      <mat-label>Description</mat-label>
      <textarea id="description" class="textarea"
            matInput 
            formControlName="description"
            placeholder="What on your mind?">
      </textarea>
    </mat-form-field>

    <mat-toolbar-row>
      <span class="spacer"></span>
      <div class="button-row"><button (click)="onNoClick()" mat-stroked-button color="accent">Cancel</button> </div>
      <button (click)="onCreate()" mat-stroked-button color="accent" >Post</button> 
    </mat-toolbar-row> 
  </div>
</form>

 

